<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <!-- <style>
     * { border: 1px solid red; }
  </style> -->
  <link rel="stylesheet" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
</head>
<body>
  <div class="main">
    <div class="header">
      <img src="../images/frog.svg" alt="">
      <ul class='nav'>
        <li>Login</li>
        <li>Register</li>
      </ul>
    </div>
    <div class='container'>
      <div class="resource">
      <h1 class="title">Title</h3>
      <p class="desc">description description description description description description description description </p>
      <a href="#">http://example.com</a>
      <img id="arrow" src="../images/arrow-up.svg" alt="arrow">
      <img id="heart" src="../images/heart.svg" alt="heart">
      </div>
    </div>
    <div class="footer"><a class='add-resource' href="#"><h1>Add Resource</h1></a></div>
  </div>
</body>
</html>
