<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <!-- <style>
     * { border: 1px solid red; }
  </style> -->
  <link rel="stylesheet" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">

</head>
<body>
    <div class="header">
        <img src="../images/frog.svg" alt="">
        <ul class='nav'>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </div>
    <!-- <div class="search">
        <form class='search' action="/action_page.php">
            <select name="topics...">
                <option value="html/css">html/css</option>
                <option value="javascript">javaScript</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
            </select>
            <input class='search' type="text" placeholder="Search..">
            <button>GO</button>
        </form>
    </div> -->

    <div class='container'>
        <div class="search">
            <select name="topics...">
                <option value="html/css">html/css</option>
                <option value="javascript">javaScript</option>
                <option value="ruby">Ruby</option>
                <option value="ajax">ajax</option>
            </select>
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">GO</button>
        <div class="main">
        </div>
    <div class="footer"><a class='add-resource' href="#"><h1>Add Resource</h1></a></div>
  </div>
</body>
</html>
