body {
  form {
    margin: auto;
  }
  margin: auto;
  background-color: #EEE;

  nav {
    background: white;
    padding: 1px;
  }
  h1 {
    text-align: center;
    color: tomato;
  }
  div{
    width: fit-content;
    margin: auto;
    div {
      background: aquamarine
    }
  }
}